@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/GOTHIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/GOTHICB.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* html {
  scroll-behavior: smooth;
} */

/* ======================= Illustration ======================
*/

.animated {
  width: 100%;
  position: relative;
  bottom: 4rem;
  padding: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

/* .illustration img {
  width: 100%;
  height: auto;
} */

.animated-fadein {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  bottom: 0rem;
}

/* ======================== Navbar ===========================
*/
.navbar, .navbar .navbar-menu, 
.navbar .navbar-menu ul, .jumbotron .overlay-text, 
.about .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar {
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: none;
  position: fixed;
  top: 0;
  padding: 0rem 0rem;
  transition: background-color 0.25s;
}

.navbar .navbar-brand {
  width: 100%;
  padding: 1rem 0 0;
  text-align: center;
}

.navbar .navbar-brand .logo {
  height: 32px;
}

.navbar .navbar-menu {
  height: 100%;
  width: 100%;
}

.navbar .navbar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-menu ul li {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}

.navbar .navbar-menu ul li a {
  height: 100%;
  color: white;
  text-decoration: none;
}

.navbar .navbar-menu ul li a:hover {
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 6rem;
  }
  .navbar .navbar-menu {
    width: 40%;
  }
  .navbar .navbar-brand {
    width: auto;
    padding: 0;
  }
}

/* ======================== Container ==========================
*/
.container {
  padding: 0 2rem;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 6rem;
  }
}

/* ======================== Jumbotron ==========================
*/
.jumbotron {
  background-image: url("../img/city.jpg");
  height: 100%;
  width: 100%;
}

.jumbotron .overlay-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-animation: jumbofade 4s;
          animation: jumbofade 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes jumbofade {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes jumbofade {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.jumbotron .overlay-text h1 {
  font-size: 3.5vmax;
  width: 60%;
  position: relative;
  animation: jumbotitle 1s reverse;
}

@-webkit-keyframes jumbotitle {
  0% {
    top: 0;
    color: white;
  }
  100% {
    top: 8rem;
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes jumbotitle {
  0% {
    top: 0;
    color: white;
  }
  100% {
    top: 8rem;
    color: rgba(255, 255, 255, 0);
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron .overlay-text h1 {
    font-size: 2.5vmax;
  }
}

/* ================= Ordering Procedure ==================
*/
.ordering-guide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#ordering-guide {
  margin: 30px 0;
}

.ordering-guide * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ordering-guide ul {
  list-style: none;
}

.ordering-guide .ordering-guide-image {
  margin-top: 70px;
  min-width: 250px;
  max-width: 250px;
  display: none;
}

.ordering-guide .ordering-guide-image img {
  width: 100%;
}

.ordering-guide .ordering-guide-content h1 {
  font-size: 3.5vmax;
  padding: 20px;
  text-align: center;
}

.dd-item-title {
  border-bottom: 2px solid #00A5FF;
}

.dd-item-title button {
  background-color: white;
  text-align: left;

  border: none;
  width: 100%;
  padding: 15px;

  position: relative;
}

.dd-item-title button:hover {
  cursor: pointer;
}

.dd-item-title .dd-item-title-numbering {
  border-radius: 50%;
  padding: 0 6px;
  margin-right: 5px;
  background-color: #00A5FF;
  color: white;
  font-weight: bold;
}

.dd-item-title .dd-item-title-plus {
  position: absolute;
  font-weight: bold;
  right: 20px;
}

.dd-item-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
  background-color: #E6E6E6;
}

.dd-item-content p {
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .ordering-guide-content {
    margin: 20px;
    max-width: 600px;
  }

  .ordering-guide .ordering-guide-image {
    display: block;
  }

  .ordering-guide .ordering-guide-content h1 {
    font-size: 2.5vmax;
  }
}

/* ====================== Service ========================
*/
.service {
  margin-top: 70px;
}

.service-section-title {
  font-size: 3.5vmax;
  text-align: center;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.service-container .service-col {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.service-container .service-col .service-item {
  height: 100%;
  border: 1px solid #d1d8e0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-container .service-col .service-item .service-content .service-image {
  height: 8rem;
  margin: 2rem 0;
}

.service-container .service-col .service-item .service-content .service-image img {
  max-width: 100%;
  max-height: 100%;
}

.service-container .service-col .service-item .service-content .service-text {
  padding: 0 2rem;
  margin: 2rem 0 2rem;
}

.service-container .service-col .service-item .service-content .service-text .service-title {
  margin: 1rem 0 0;
  display: block;
  font-weight: bold;
}

.service-container .service-col .service-item .service-content .service-text .service-desc {
  margin: 1rem 0 0;
  text-align: left;
  display: block;
}

.service-container .service-col .service-item .service-button {
  width: 100%;
  margin: auto 0 1rem;
  text-align: center;
}

.service-container .service-col .service-item .service-button button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 1rem;
}

.service-container .service-col .service-item .service-button button:hover {
  background-color: black;
  color: white;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .service-section-title {
    font-size: 2.5vmax;
  }
  .service-container .service-col {
    width: 33.33%;
  }
  .service-container .service-col .service-item {
    margin: 0 1rem;
  }
}

/* ====================== Footer ============================
*/

.footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .list-container {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .list-container .list-col {
  margin-right: 8rem;
}

.footer .list-container .list-col .list-heading {
  color: white;
  font-weight: bold;
}

.footer .list-container .list-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .list-container .list-col ul li {
  margin: 1rem 0;
}

.footer .list-container .list-col ul li a {
  color: gray;
  text-decoration: none;
}

.footer .list-container .list-col ul li a:hover {
  color: white;
  font-weight: bold;
}

.footer .brand {
  width: 100%;
  margin-top: 2rem;
}

.footer .brand .logo {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.footer .brand .logo img {
  width: 24vmax;
}

.footer .brand .final-tagline {
  margin-top: 1rem;
  color: white;
}

.footer .brand .copy,
.footer .brand .address {
  margin-top: 1rem;
  color: gray;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=style.css.map */