@font-face {
	font-family: "Century Gothic";
	src: url("/assets/fonts/GOTHIC.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Century Gothic";
	src: url("/assets/fonts/GOTHICB.TTF") format("truetype");
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

$primary: black;
$secondary: rgb(209, 216, 224);
$md: 768px;
%flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

nav {
	z-index: 1;
	@extend %flex-center;
	justify-content: space-between;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0);
	border-bottom: none;
	position: fixed;
	top: 0;
	padding: 0rem 0rem;
	.navbar-brand {
		width: 100%;
		padding: 1rem 0 0;
		font-size: 2rem;
		font-weight: bold;
		color: white;
		position: relative;
		text-align: center;
		.logo {
			height: 32px;
		}
	}
	.navbar-menu {
		@extend %flex-center;
		height: 100%;
		width: 100%;
		ul {
			@extend %flex-center;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				width: 100%;
				padding: 1.5rem 0;
				text-align: center;
				a {
					height: 100%;
					color: white;
					text-decoration: none;
					&:hover {
						color: white;
						font-weight: bold;
					}
				}
				.active {
					font-weight: bold;
					color: white;
				}
			}
		}
	}
}

.nav-scroll {
	background-color: black;
	box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.2);
	.navbar-menu {
		ul {
			li {
				a {
					color: gray;
					&:hover {
						color: white;
						font-weight: bold;
					}
				}
				.active {
					font-weight: bold;
					color: white;
				}
			}
		}
	}
}
@media only screen and (min-width: $md) {
	nav {
		flex-direction: row;
		padding: 0 6rem;
		.navbar-menu {
			width: 40%;
		}
		.navbar-brand {
			width: auto;
			padding: 0;
		}
	}
}

.container {
	padding: 0 2rem;
}
@media only screen and (min-width: $md) {
	.container {
		padding: 0 6rem;
	}
}

.jumbotron {
	background-image: url("/assets/img/city.jpg");
	height: 100%;
	width: 100%;
	.overlay-text {
		width: 100%;
		height: 100%;
		@extend %flex-center;
		background-color: rgba(0, 0, 0, 0.5);
		justify-content: center;
		color: white;
		animation: jumbofade 4s;
		animation-fill-mode: both;
		@keyframes jumbofade {
			0% {
				background-color: rgba(0, 0, 0, 1);
			}
			100% {
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
		h1 {
			font-size: 3vmax;
			width: 60%;
			position: relative;
			animation: jumbotitle 1s reverse;
			@keyframes jumbotitle {
				0% {
					top: 0;
					color: rgba(255, 255, 255, 1);
				}
				100% {
					top: 8rem;
					color: rgba(255, 255, 255, 0);
				}
			}
		}
	}
}

.about {
	margin: 2rem 0;
	.about-item {
		@extend %flex-center;
		flex-wrap: wrap;
		.illustration {
			width: 100%;
			position: relative;
			bottom: 4rem;
			padding: 0;
			opacity: 0;
			transition: 1s;
			img {
				width: 100%;
				padding: 4rem 0;
				height: auto;
			}
		}
		.illustration-show {
			transition: 1s;
			opacity: 1;
			bottom: 0rem;
		}
		.description {
			width: 100%;
			padding: 0;
		}
		@media only screen and (min-width: $md) {
			.illustration {
				width: 50%;
				padding: 0 4rem;
			}
			.description {
				width: 50%;
				padding: 0 4rem;
			}
		}
	}
	@media only screen and (min-width: $md) {
		.reversed {
			flex-direction: row-reverse;
		}
	}
}

.service {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	.service-col {
		width: 100%;
		height: auto;
		margin: 1rem 0;
		.service-item {
			height: 100%;
			border: 1px solid $secondary;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.service-content {
				.service-image {
					height: 8rem;
					margin: 2rem 0;
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
				.service-text {
					padding: 0 2rem;
					margin: 2rem 0 2rem;
					.service-title {
						margin: 1rem 0 0;
						display: block;
						font-weight: bold;
					}
					.service-desc {
						margin: 1rem 0 0;
						text-align: left;
						display: block;
					}
				}
			}
			.service-button {
				width: 100%;
				margin: auto 0 1rem;
				text-align: center;
				button {
					background-color: white;
					border: 1px solid black;
					color: black;
					padding: 1rem;
					&:hover {
						background-color: black;
						color: white;
						outline: none;
					}
				}
			}
		}
	}
	@media only screen and (min-width: $md) {
		.service-col {
			width: 33.33%;
			.service-item {
				margin: 0 1rem;
			}
		}
	}
}

.footer {
	background-color: black;
	color: white;
	margin-top: 4rem;
	padding: 2rem 0;
	display: flex;
	.container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}
	.list-container {
		width: 100%;
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		.list-col {
			margin-right: 8rem;
			.list-heading {
				color: white;
				font-weight: bold;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					margin: 1rem 0;
					a {
						color: gray;
						text-decoration: none;
						&:hover {
							color: white;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.brand {
		width: 100%;
		margin-top: 2rem;
		.logo {
			color: white;
			font-size: 3rem;
			font-weight: bold;
			img {
				width: 24vmax;
			}
		}
		.final-tagline {
			margin-top: 1rem;
			color: white;
		}
		.copy,
		.address {
			margin-top: 1rem;
			color: gray;
		}
	}

	@media only screen and (min-width: $md) {
		.container {
			flex-direction: row-reverse;
		}
	}
}
